<h1>La réponse du coach :</h1>

<p><%= @answer %></p>

<!-- The controller will need to read the question from params and compute an instance variable @answer for the view to display.
 -->

  <%= link_to "Ask another question?", "/ask" %>
