<h1>Ask your question</h1>
<!-- p>Find me in app/views/questions/ask.html.erb</p> -->
<br>
<!-- # PARAMS -->
  <form action="/answer" method="get">
    <input type="text" name="ask" placeholder="What is your question?">
    <button type="submit" value="ask" class="btn btn-primary">Ask</button>
  </form>

<!-- button
 -->

<!-- Clicking on the submit button, the browser will make the following request:
GET /ask?ask=something_you_typed
